.table-hover > tbody > tr:hover > * {
   --bs-table-color-state: var(--bs-table-hover-color);
   --bs-table-bg-state: rgba(242, 193, 78, 0.212);
}
 
.table thead td{
   color: #F4C14E;
}

.table > :not(caption) > * > * {
   color: #296a4f;
}