#app .navbar{
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 1px;
}
.navbar a{
    color: #296a4f;
}

/*PSEUDO-CLASSES*/
.navbar a:hover{
    color: #1b4332;
    border-bottom: 1px solid #f2c14e;
}
.dropdown-menu .dropdown-item:hover{
    color: #f2c14e;
    font-weight: 600;
}

a.is-active,
.navbar-nav .nav-link.show{
    color: #f2c14e;
}

#logo{
    max-width: 4rem;
    border-radius: 50%;
}